<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" type="text/css" href="loadindex.css" media="all">
</head>
<body><div class="content">
       <div id="wall">
<div id="media_buttons" class="btn-group" data-toggle="buttons-radio"><a class="btn" href="javascript:void(0);" id="FetchUrlButton"><span class="icon-pencil"></span></a><a href="javascript:void(0);" class="btn btn-success" id="UploadImageButton"><span class="icon-picture icon-white"></span></a></div>
<h4>What's up?</h4>
<form method="post" action="http://labs.shubhamtipstricks.com/includes/loadindex.php#">
<textarea name="update" id="update"></textarea>
<br>

<div id="FetchUrlForm" style="display: none;">
<input style="display: none;" name="cur_image" id="cur_image" value="" type="text">
<div class="wrap">
 
	<div class="box" align="left">
 
		<div class="head">Link</div>
		<div class="close" align="right">
			<div class="closes"></div>
		</div>
 
		<br clear="all"><br clear="all">
 <div class="control-group">
            <div class="controls">
              <div class="input-append">
                <input name="url" size="64" id="url" value="http://www." type="text"><button type="button" name="attach" value="Attach" class="btn add-on" id="attach">Attach</button>
              </div>
            </div>
          </div>
 
		<div id="loader">
 
			<div id="load" style="display: none;" align="center"><img src="load.gif"></div>
 
		</div>
		<br clear="all">
	</div>
 
</div>
</div>
<a href="javascript:void(0)" id="update_button" class="update_button pull-left btn btn-primary"> POST </a>
<script src="all_001.js" id="facebook-jssdk"></script><script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=392749000781670";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div fb-xfbml-state="parsed" class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="https://www.facebook.com/SttLab" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"><span style="height: 21px; width: 450px;"><iframe src="loadindex_1.html" class="fb_ltr" title="Like this content on Facebook." style="border: medium none; overflow: hidden; height: 21px; width: 450px;" name="f3b77adf37911c4" id="f2058554c380bb6" scrolling="no"></iframe></span></div>
</form>
<div id="UploadImageForm">
<div id="showimg" style="padding: 5px; background: none repeat scroll 0% 0% rgb(45, 45, 45);"> </div>
<div class="ajax-upload" style="display: none;">

    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action="http://labs.shubhamtipstricks.com/includes/server/php/index.php" method="POST" enctype="multipart/form-data">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="span7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Add files...</span>
                    <input name="files[]" multiple="" type="file">
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>Delete</span>
                </button>
                <input class="toggle" type="checkbox">
            </div>
            <!-- The global progress information -->
            <div class="span5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="bar" style="width: 0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The loading indicator is shown during file processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>
    <br>
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>Start</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>Cancel</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">Error</span> {%=file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>Delete</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% } %}
</script>
</div><!-- Ajax Upload -->

<form id="uploadform" action="http://labs.shubhamtipstricks.com/includes/action.php?action=upload&amp;on=wall" method="post" enctype="multipart/form-data" target="uploadframe" onsubmit="uploadimg(this); return false">
  <input id="myfile" name="myfile" type="file">
<input id="uploadvalues" value="" type="hidden">
  <input value="Submit" class="hidden" id="uploadsubmit" type="submit">
  <iframe id="uploadframe" name="uploadframe" src="action.php?action=upload&amp;on=wall" style="display: none;" frameborder="0" height="8" scrolling="no" width="8"></iframe>
</form>
<div class="uploadmsg"><a href="#" id="uploaderlink">Show Ajax Uploader</a></div>

</div>
<div id="flashmessage">
<div id="flash" align="left"></div>
</div><!-- /flashmessage -->
<div id="content">


Not Found!<div class="bigLoader"><img src="bigloader.gif" alt="Loading..."></div>

</div><!-- /Cotent -->
</div><!-- /wall --></div><div class=" fb_reset" id="fb-root"><div style="position: absolute; top: -10000px; height: 0pt; width: 0pt;"><div><iframe src="loadindex_3.html" name="f173fdf1f63e442" id="f173fdf1f63e442" style="display: none;"></iframe></div></div><div style="position: absolute; top: -10000px; height: 0pt; width: 0pt;"><div><iframe src="loadindex_4.html" name="fb_xdm_frame_http" id="fb_xdm_frame_http"></iframe><iframe src="https://s-static.ak.facebook.com/connect/xd_arbiter.php?version=17#channel=fe39e3e91664be&amp;origin=http%3A%2F%2Flabs.shubhamtipstricks.com&amp;channel_path=%2Fincludes%2Floadindex.php%3Ffb_xd_fragment%23xd_sig%3Df30d665d0361d42%26" name="fb_xdm_frame_https" id="fb_xdm_frame_https"></iframe></div></div></div></body>
</html>
