/* ::::: https://s3.amazonaws.com/wrapbootstrap/live/css/screen.css?busted-121227 ::::: */

html, body { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; }
ol, ul { list-style: none outside none; }
html { overflow-y: scroll; font-size: 100%; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0px none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio:not([controls]) { display: none; }
img { border: 0px none; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
textarea { overflow: auto; vertical-align: top; }
body { background: url('content_inner_bg.png') repeat scroll 0% 0% rgb(250, 250, 250); margin: 0px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px; font-weight: normal; line-height: 18px; color: rgb(64, 64, 64); }
.container { width: 940px; margin-left: auto; margin-right: auto; }
.container:before, .container:after { display: table; content: ""; }
.container:after { clear: both; }
a { color: rgb(0, 105, 214); text-decoration: none; line-height: inherit; font-weight: inherit; }
a:hover { color: rgb(0, 67, 138); text-decoration: underline; }
.pull-right { float: right; }
.row { margin-left: -20px; }
.row:before, .row:after { display: table; content: ""; }
.row:after { clear: both; }
.row > [class*="span"] { display: inline; float: left; margin-left: 20px; }
.span5 { width: 280px; }
.span11 { width: 640px; }
p { font-size: 13px; font-weight: normal; line-height: 18px; margin-bottom: 9px; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; color: rgb(64, 64, 64); }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { color: rgb(191, 191, 191); }
h1 { margin-bottom: 18px; font-size: 30px; line-height: 36px; }
h1 small { font-size: 18px; }
h2 { font-size: 24px; line-height: 36px; }
ul, ol { margin: 0px 0px 18px 25px; }
ul { list-style: disc outside none; }
li { line-height: 18px; color: rgb(128, 128, 128); }
strong { font-style: inherit; font-weight: bold; }
em { font-style: italic; font-weight: inherit; line-height: inherit; }
form { margin-bottom: 18px; }
fieldset { margin-bottom: 18px; padding-top: 18px; }
form .clearfix { margin-bottom: 18px; }
form .clearfix:before, form .clearfix:after { display: table; content: ""; }
form .clearfix:after { clear: both; }
label, input, select, textarea { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 13px; font-weight: normal; line-height: normal; }
form .input { margin-left: 150px; }
input, textarea, select, .uneditable-input { display: inline-block; width: 210px; height: 18px; padding: 4px; font-size: 13px; line-height: 18px; color: rgb(128, 128, 128); border: 1px solid rgb(204, 204, 204); border-radius: 3px 3px 3px 3px; }
input[type="button"], input[type="reset"], input[type="submit"] { width: auto; height: auto; }
textarea { height: auto; }
:-moz-placeholder { color: rgb(191, 191, 191); }
input, textarea { transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset; }
input:focus, textarea:focus { outline: 0px none; border-color: rgba(82, 168, 236, 0.8); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1) inset, 0px 0px 8px rgba(82, 168, 236, 0.6); }
.input-large, input.large, textarea.large, select.large { width: 210px; }
.input-xxlarge, input.xxlarge, textarea.xxlarge, select.xxlarge { width: 530px; }
textarea.xxlarge { overflow-y: auto; }
input.span5, textarea.span5 { display: inline-block; float: none; width: 270px; margin-left: 0px; }
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] { background-color: rgb(245, 245, 245); border-color: rgb(221, 221, 221); cursor: not-allowed; }
.zebra-striped tbody tr:nth-child(2n+1) td, .zebra-striped tbody tr:nth-child(2n+1) th { background-color: rgb(249, 249, 249); }
.topbar { height: 46px; position: fixed; top: 0px; left: 0px; right: 0px; z-index: 10000; overflow: visible; }
.topbar a { color: rgb(191, 191, 191); text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25); }
.topbar h3 a:hover, .topbar .brand:hover, .topbar ul .active > a { background-color: rgba(255, 255, 255, 0.05); color: rgb(255, 255, 255); text-decoration: none; }
.topbar .brand { width: 187px; height: 28px; float: left; display: block; padding: 9px 20px 8px; margin-left: -20px; color: rgb(255, 255, 255); line-height: 1; }
.topbar-inner, .topbar .fill { background-color: rgb(24, 24, 24); background-repeat: repeat-x; background-image: url('foot-header-bg.png'); box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(0, 0, 0, 0.1) inset; }
.topbar div > ul, .nav { display: block; float: left; margin: 0px 10px 0px 0px; position: relative; left: 0px; }
.topbar div > ul > li, .nav > li { display: block; float: left; }
.topbar div > ul a, .nav a { display: block; float: none; padding: 13px 10px 14px; line-height: 19px; text-decoration: none; }
.topbar div > ul a:hover, .nav a:hover { color: rgb(255, 255, 255); text-decoration: none; }
.topbar div > ul.secondary-nav, .nav.secondary-nav { float: right; margin-left: 10px; margin-right: 0px; }
footer { margin-top: 17px; padding-top: 17px; border-top: 1px solid rgb(238, 238, 238); }
.btn { cursor: pointer; display: inline-block; background-color: rgb(230, 230, 230); background-repeat: no-repeat; background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255) 25%, rgb(230, 230, 230)); padding: 5px 14px 6px; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); color: rgb(51, 51, 51); font-size: 13px; line-height: normal; border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(187, 187, 187); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 4px 4px 4px 4px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); transition: all 0.1s linear 0s ; }
.btn:hover { background-position: 0px -15px; color: rgb(51, 51, 51); text-decoration: none; }
.btn:focus { outline: 1px dotted rgb(102, 102, 102); }
.btn.primary { color: rgb(255, 255, 255); background-color: rgb(0, 100, 205); background-repeat: repeat-x; background-image: -moz-linear-gradient(center top , rgb(4, 156, 219), rgb(0, 100, 205)); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn.active, .btn:active { box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.btn[disabled] { cursor: default; background-image: none; opacity: 0.65; box-shadow: none; }
.btn.large { font-size: 15px; line-height: normal; padding: 9px 14px; border-radius: 4px 4px 4px 4px; }
:root .alert-message, :root .btn {  }
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner { padding: 0px; border: 0px none; }
.close { float: right; color: rgb(0, 0, 0); font-size: 20px; font-weight: bold; line-height: 13.5px; text-shadow: 0px 1px 0px rgb(255, 255, 255); opacity: 0.25; }
.close:hover { color: rgb(0, 0, 0); text-decoration: none; opacity: 0.4; }
html { height: 100%; }
body { height: 100%; }
.topbar { position: inherit; top: 0px; left: 0px; right: 0px; z-index: 10000; overflow: visible; }
#main { min-height: 100%; height: auto ! important; margin: 0px 0px -60px; }
#menu { width: auto; height: 50px; margin: 0px auto; background: url('menu_bg_dark.png') repeat scroll 0% 0% rgb(61, 61, 61); }
#categories { width: 231px; float: left; margin-right: 20px; margin-top: 9px; }
#categories:hover .category_button { background-position: -79px -64px; }
#categories:hover .dropdown_container { display: block; }
#categories { background-color: rgb(255, 0, 0); position: absolute; }
#categories .category_button { position: absolute; left: 0px; top: 0px; z-index: 1100; width: 231px; height: 32px; background: url('categories_searchbtn.png') no-repeat scroll -79px -32px transparent; text-indent: -9999px; cursor: pointer; }
#categories .dropdown_container { display: none; position: absolute; z-index: 1000; width: 229px; overflow: hidden; top: 30px; left: 0px; background-color: rgb(32, 32, 32); border: 1px solid rgb(29, 29, 29); border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }
#categories .categories { width: 229px; overflow: hidden; }
#categories .categories ul { width: 229px; margin: 0px; padding: 0px; list-style: none outside none; overflow: hidden; }
#categories .categories ul li { width: 229px; margin: 0px; padding: 0px; border-bottom: 1px solid rgb(29, 29, 29); font-size: 14px; color: rgb(59, 59, 59); }
#categories .categories ul li:last-child { border-bottom: medium none; }
#categories .categories ul li a { width: 217px; overflow: hidden; padding: 6px 8px 3px; display: block; text-decoration: none; font-size: 14px; color: rgb(239, 239, 239); }
#categories .categories ul li a:hover { color: rgb(255, 255, 255); background-color: rgb(49, 49, 49); }
#categories .categories ul li a span { color: rgb(239, 239, 239); padding: 2px 4px; float: right; font-size: 11px; }
#search { width: 390px; height: 32px; overflow: hidden; margin-top: 9px; margin-left: 250px; padding: 0px; float: left; }
#search form { width: auto; height: 32px; overflow: hidden; padding-top: 0px; }
#search form .query { color: rgb(219, 219, 219); text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); border-radius: 3px 3px 3px 3px; margin-right: 5px; outline: medium none; float: left; display: block; width: 285px; height: 30px; font-size: 16px; padding: 0px 4px 0px 8px; vertical-align: middle; line-height: 28px; border: 1px solid rgb(69, 69, 69); background: url('search_bg.png') repeat-x scroll 0% 0% rgb(53, 53, 53); box-shadow: 1px 1px 0px rgb(29, 29, 29) inset; }
#search form .query:focus { color: rgb(255, 255, 255); border: 1px solid rgb(86, 86, 86); }
#search form .query:hover { color: rgb(225, 225, 225); border: 1px solid rgb(86, 86, 86); }
#search form .query:-moz-placeholder { color: rgb(142, 142, 142); }
#search form .submit { outline: medium none; float: left; display: block; width: 79px; height: 33px; font-size: 15px; padding: 0px; vertical-align: middle; border: medium none; background-color: transparent; background-image: url('categories_searchbtn.png'); cursor: pointer; }
#search form .submit:active { background-position: 0px -64px ! important; }
#search form .submit:hover { background-position: 0px -32px; }
#recent { width: 258px; margin-top: 9px; overflow: hidden; float: right; }
#recent li { width: 44px; height: 30px; margin-right: 7px; overflow: hidden; float: left; background-color: rgba(0, 0, 0, 0.2); border-radius: 2px 2px 2px 2px; border-right: 1px solid rgb(89, 89, 89); border-width: 1px; border-style: solid; border-color: rgb(47, 47, 47) rgb(89, 89, 89) rgb(89, 89, 89) rgb(47, 47, 47); }
#recent li:last-child { margin-right: 0px; }
#recent li a { display: block; width: 44px; height: 30px; overflow: hidden; background-color: transparent; background-size: 77px 48px; background-position: 50% 0px; }
#recent li a:hover { text-decoration: none; }
#raffle-promo { width: auto; height: 41px; background-color: rgb(55, 124, 168); border-bottom: 1px solid rgb(24, 73, 106); }
#raffle-promo .container { overflow: hidden; height: 41px; background: url('raffle-promo.png') no-repeat scroll 0% 0% rgb(55, 124, 168); }
#raffle-promo .widget { float: left; width: 200px; padding-top: 10px; margin-left: 390px; }
#raffle-promo .close { font-size: 18px; float: right; margin-top: 14px; }
#page_user { margin-top: 0px; padding-bottom: 300px; }
#page_user .page-header-top h1 { width: 550px; }
#page_user .left-side .profile_image { width: 120px; height: 120px; float: left; margin-right: 10px; padding: 6px; border: 1px solid rgb(238, 238, 238); background-color: rgb(255, 255, 255); }
#page_user .profiles { list-style: none outside none; margin: 2px 0px 0px; padding: 0px; }
#page_user .profiles li { margin-bottom: 4px; }
#page_user .profiles li a { font-size: 16px; padding: 8px 0px 8px 32px; color: rgb(17, 17, 17); line-height: 30px; }
#page_user .profiles li a.twitter { background: url('glyphicons_twitter.png') no-repeat scroll left center transparent; }
#page_user .profiles li a.facebook { background: url('glyphicons_facebook.png') no-repeat scroll left center transparent; }
#page_user .profiles li a.linkedin { background: url('glyphicons_linked_in.png') no-repeat scroll left center transparent; }
#page_user .profiles li a.forrst { background: url('glyphicons_forrst.png') no-repeat scroll left center transparent; }
#page_user #banner, #page_user #about, #page_user #portfolio, #page_user #contact { margin-bottom: 20px; border-radius: 6px 6px 6px 6px; background: url('darkgrain.png') repeat scroll 0% 0% rgb(238, 238, 238); }
#page_user #portfolio { padding: 10px; }
#page_user #portfolio .image { display: block; width: 600px; margin-bottom: 10px; padding: 8px; border: 1px solid rgb(214, 214, 214); border-radius: 4px 4px 4px 4px; background: url('content_inner_bg.png') repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 0px 3px rgb(221, 221, 221); }
#page_user #portfolio .image a { display: block; width: 600px; height: 375px; }
#page_user #portfolio .image:last-child { margin-bottom: 0px ! important; }
#page_user #contact { padding: 20px; }
#page_user #contact form { width: auto; margin: 0px; }
#page_user #contact form fieldset { width: auto; padding: 0px; }
#page_user #contact form fieldset .input { margin: 0px; display: block; float: none; }
#page_user #contact form fieldset .btn { width: auto; margin: 0px 10px 0px 0px; padding-left: 25px; padding-right: 25px; }
#page_user #contact form fieldset .xxlarge { width: 580px; }
#page_user #about { padding: 20px; }
#page_user #about .image { display: block; width: 580px; padding: 8px; margin-bottom: 0px; border: 1px solid rgb(214, 214, 214); border-radius: 4px 4px 4px 4px; background: url('content_inner_bg.png') repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 0px 3px rgb(221, 221, 221); }
#page_user #about .image div { width: 580px; height: 200px; overflow: hidden; }
#page_user #about .bio { padding: 0px; margin-top: 15px; }
#page_user #about .bio p { font-size: 16px; color: rgb(51, 51, 51); line-height: 140%; margin: 15px 0px; }
#page_user #about .bio :first-child { margin-top: 0px ! important; }
#page_user #about .bio :last-child { margin-bottom: 0px ! important; }
.page-header-top { background: url('darkgrain_001.png') repeat scroll 0% 0% rgb(245, 245, 245); padding: 20px 20px 10px; margin: 0px 0px 30px; border-bottom: 1px solid rgb(221, 221, 221); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5); }
.page-header-top h1 { width: 660px; float: left; margin: 0px 0px 8px; letter-spacing: -1px; }
.btn:active { position: relative; top: 2px; }
.social_stuff { width: auto; overflow: hidden; margin-bottom: 15px; }
.social_stuff .widget { width: 495px; float: left; overflow: hidden; padding: 11px 15px; border-radius: 4px 4px 4px 4px; background: url('darkergrain.png') repeat scroll 0% 0% rgb(226, 226, 226); }
.social_stuff .widget .stat { width: 130px; height: 32px; overflow: hidden; }
.social_stuff .widget .stat a { width: 70px; height: 32px; display: block; padding-left: 42px; overflow: hidden; text-decoration: none; background: url('social_stats_icons.png') no-repeat scroll 0% 0% transparent; }
.social_stuff .widget .stat a span.count { display: block; color: rgb(68, 68, 68); font-size: 21px; font-weight: bold; line-height: 20px; text-decoration: none; }
.social_stuff .widget .stat a:hover span.count { color: rgb(34, 34, 34); }
.social_stuff .widget .stat a span.desc { display: block; color: rgb(136, 136, 136); font-size: 11px; line-height: 13px; }
.social_stuff .widget .stat a:hover span.desc { color: rgb(68, 68, 68); }
.social_stuff .widget .twitter, .widget .facebook, .widget .rss, .widget .email, .widget .google { padding: 0px; float: left; }
.social_stuff .widget .twitter .stat a { background-position: 0px 0px; }
.social_stuff .widget .facebook .stat a { background-position: 0px -32px; }
.social_stuff .widget .rss .stat a { background-position: 0px -64px; }
.social_stuff .widget .email .stat a { background-position: 0px -96px; }
.social_stuff .widget .twitter .stat a:hover { background-position: 0px -128px; }
.social_stuff .widget .facebook .stat a:hover { background-position: 0px -160px; }
.social_stuff .widget .rss .stat a:hover { background-position: 0px -192px; }
.social_stuff .widget .email .stat a:hover { background-position: 0px -224px; }
.social_stuff .widget .email .stat { width: 105px; }
.newsletter { width: 397px; overflow: hidden; float: right; }
.newsletter p { color: rgb(51, 51, 51); font-size: 13px; margin: 0px 0px 4px 6px; line-height: 17px; }
.newsletter p strong { display: block; color: rgb(51, 51, 51); font-size: 18px; }
.newsletter form { width: 460px; padding: 4px 0px 4px 6px; overflow: hidden; }
.push { height: 60px; }
#footer { width: auto; height: 60px; overflow: hidden; padding: 0px; background: url('tray-bg.png') repeat scroll 0% 0% rgb(24, 24, 24); color: rgb(255, 255, 255); }
#footer a { color: rgb(238, 238, 238); }
footer { border: medium none; height: 60px; margin: 0px; padding: 0px; overflow: hidden; }
footer p { margin-top: 23px; }
#mask { position: absolute; left: 0px; top: 0px; z-index: 119000; background-color: rgb(0, 0, 0); display: none; }
#subscribe_dialog { width: 580px; padding: 6px; background-color: rgba(0, 0, 0, 0.4); font: 13px "Verdana","Arial",sans-serif; position: absolute; left: 0px; top: 0px; display: none; z-index: 119999; border-radius: 8px 8px 8px 8px; }
#subscribe_dialog .shell { width: 580px; overflow: hidden; background: url('dark_bg.jpg') repeat scroll 0% 0% rgb(226, 226, 226); border-radius: 5px 5px 5px 5px; }
#subscribe_dialog .topbar { width: auto; margin-bottom: 10px; overflow: hidden; }
#subscribe_dialog .close { display: block; width: 60px; margin-top: 5px; margin-right: 5px; float: right; padding: 4px 8px; background-color: rgb(51, 51, 51); color: rgb(255, 255, 255); text-align: center; text-decoration: none; border-radius: 3px 3px 3px 3px; }
#subscribe_dialog .close:hover { background-color: rgb(85, 85, 85); color: rgb(255, 255, 255); }
#subscribe_dialog .close:active { background-color: rgb(34, 34, 34); color: rgb(255, 255, 255); }
#subscribe_dialog .inner { width: auto; height: 400px; overflow: hidden; margin: 0px 10px 10px; }
#bsw i { opacity: 0.5; }
#bsw:hover i { opacity: 1 ! important; }
#bwb i { opacity: 0.5; }
#bwb:hover i { opacity: 1 ! important; }
[class^="icon-"] { display: inline-block; width: 14px; height: 14px; vertical-align: text-top; background-image: url('glyphicons-halflings_001.png'); background-position: 14px 14px; background-repeat: no-repeat; }
[class^="icon-"]:last-child {  }
.icon-white { background-image: url('glyphicons-halflings-white.png'); }
.icon-share-alt { background-position: -336px -96px; }
