.actbar { display: inline; }
.actbar-cmpct, .actbar-cmpct-press { cursor: pointer; border: 1px solid transparent; display: inline-block; border-radius: 3px 3px 3px 3px; opacity: 0.7; height: 11px; width: 11px; }
.actbar-cmpct img.arrow-down, .actbar-cmpct-press img.arrow-down { vertical-align: top; position: relative; top: 4px; left: 2px; }
.one:hover .actbar-cmpct:hover { background-color: rgb(255, 255, 255); border-color: rgb(221, 221, 221); opacity: 0.9; }
.actbar-cmpct-press, .actbar-cmpct:active { background-color: rgb(239, 239, 239); border-color: rgb(125, 125, 125); opacity: 1; }
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(0, 0, 0); }
#vp { position: absolute; top: -10px; left: -10px; width: 1px; height: 1px; visibility: hidden; }
.ca { text-align: center; }
.panel-width { width: 29.32em; }
.panel-width-start { left: 29.32em; }
div.query { margin-bottom: 3px; }
body { margin: 0px; }
#lmczbg, #main_map {  }
#map { clear: both; }
#map, #mclip, #ssheader { margin-left: 0px; overflow: hidden; border: 0px none; }
div .n { margin-top: 1ex; }
.n .i { font-weight: bold; }
.i, .i:link { color: black; }
.n .b a { font-weight: bold; }
.nr, #nc, #nf, #nl, #nn, #np { background: url('hpimgs28.png') no-repeat scroll 0px -38px transparent; width: 167px; height: 40px; overflow: hidden; display: block; }
#nf { background-position: -25px -38px; width: 29px; }
#nc { background-position: -54px -38px; width: 20px; }
.nr { background-position: -74px -38px; width: 22px; }
#nn { width: 71px; }
#nn, #nl { background-position: -96px -38px; }
#nn { margin-right: 34px; }
#spsizer { clear: both; }
.subpanel { margin-left: 10px; }
#spsizer { overflow: auto; position: relative; }
.rmi-rpl-k { background-color: white; margin-top: 36px; margin-left: -10px; text-align: center; z-index: 1001; }
.rmi-base-k { bottom: 0px; margin-left: 0px; position: absolute; width: 100%; }
.rmi-rpl-top { border-top: 1px solid rgb(229, 229, 229); padding-bottom: 8px; padding-top: 10px; font-size: 77%; }
.rmi-rpl-bottom { padding-bottom: 10px; font-size: 77%; }
.arrow-down { background: url('hpimgs28.png') no-repeat scroll -125px 0px transparent; width: 7px; height: 4px; }
.close { background: url('hpimgs28.png') no-repeat scroll -108px -26px transparent; width: 10px; height: 10px; }
.circle-markerA-whitebg { background: url('hpimgs28.png') no-repeat scroll -101px 0px transparent; width: 24px; height: 24px; }
.circle-markerB-whitebg { background: url('hpimgs28.png') no-repeat scroll -77px 0px transparent; width: 24px; height: 24px; }
.pp-hover-attribution, .pp-hover-attribution a:link, .pp-hover-attribution a:visited, a.pp-hover-attribution:link, a.pp-hover-attribution:visited { color: rgb(102, 102, 102); text-decoration: none; }
.pp-place-title { font-weight: bold; font-size: 154%; margin-top: 2px; margin-bottom: 2px; line-height: 1em; }
#resultspanel .pp-place-title { font-weight: normal; margin-right: 5px; cursor: pointer; line-height: 1.2em; color: rgb(17, 85, 204); }
#resultspanel .pp-place-title:hover { text-decoration: underline; }
#resultspanel .pp-cover-source { padding-top: 0px; padding-bottom: 0px; }
#pp-earth-balloon .pp-place-title, #resultspanel .pp-place-title { font-size: 123%; }
.pp-source-name { color: rgb(14, 119, 74); }
.pp-linked-photo { cursor: pointer; }
@media print {
  .placepage .bar { display: block; }
}
.ads { margin-left: 26px; margin-right: 10px; padding-bottom: 0.15em; }
.kui .ads { margin-left: 30px; margin-right: 0px; padding-bottom: 5px; padding-top: 0px; }
#topads, #bottomads { position: relative; margin-top: 8px; margin-bottom: 0.5em; clear: both; }
.kui #topads, .kui #bottomads { margin-top: 0px; margin-bottom: 0px; margin-left: -10px; }
.adsmessage { color: rgb(153, 153, 153) ! important; cursor: default; font-size: 85%; margin-bottom: 4px; text-decoration: none ! important; }
.adsmessage.v3 { text-align: right; margin-bottom: 0px; padding-right: 5px; padding-top: 2px; }
.kui .adsmessage.v3 { padding-right: 7px; padding-top: 6px; margin-bottom: -10px; }
#topads, #bottomads, .elaimg, .elatxt, .elaspo { background-color: rgb(255, 248, 231); }
.mac #topads, .mac #bottomads, .mac .elaimg, .mac .elatxt, .mac .elaspo { background-color: rgb(253, 246, 229); }
#qmod { clear: both; margin: 0px 0px 9px 34px; }
.query { padding-right: 0.2em; line-height: 0.8em; }
.query_terms { font-size: 154%; line-height: 1.2em; }
.query_terms_bold { font-weight: bold; }
.query_terms_light { color: rgb(102, 102, 102); }
.num_results { font-size: 85%; color: rgb(102, 102, 102); display: block; margin-top: 1em; margin-bottom: 0.1em; }
#panel .local { padding-bottom: 0.5em; }
.res { border-collapse: collapse; }
.res .one { clear: left; padding: 0px 12px 9px 0px; }
.res .icon { cursor: pointer; padding: 10px 2px 0px; text-align: center; }
.res .lsicon { float: left; }
.res .text { padding: 9px 0px 0px; }
.res .block:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.res .indent { margin-left: 34px; }
.res .name { padding-top: 3px; }
.res .lname { margin-bottom: 0.1em; display: inline; }
.notices { margin-top: 1em; padding-bottom: 1em; clear: left; }
.mp { width: 20px; height: 34px; cursor: pointer; }
.iconA { background: url('red_markers_a_j2.png') repeat scroll 0px 0px transparent; }
.iconB { background: url('red_markers_a_j2.png') repeat scroll 0px -34px transparent; }
.iconC { background: url('red_markers_a_j2.png') repeat scroll 0px -68px transparent; }
.iconD { background: url('red_markers_a_j2.png') repeat scroll 0px -102px transparent; }
.iconE { background: url('red_markers_a_j2.png') repeat scroll 0px -136px transparent; }
.iconF { background: url('red_markers_a_j2.png') repeat scroll 0px -170px transparent; }
.iconI { background: url('red_markers_a_j2.png') repeat scroll 0px -272px transparent; }
.iconJ { background: url('red_markers_a_j2.png') repeat scroll 0px -306px transparent; }
.IconCirG { background: url('red_circle_markers_a_j2.png') repeat scroll 0px -204px transparent; }
.IconCirH { background: url('red_circle_markers_a_j2.png') repeat scroll 0px -238px transparent; }
.starred, .unstarred, .starring, .unstarring, .blankstar { width: 19px; height: 19px; margin-left: 3px; margin-bottom: -3px; }
.starred, .unstarred, .starring, .unstarring { cursor: pointer; }
.unstarred, .unstarring { background: url('hpimgs28.png') no-repeat scroll -19px -19px transparent; }
.unstarred:hover, .unstarring:hover { background: url('hpimgs28.png') no-repeat scroll -38px -19px transparent; }
.unstarred:active, .unstarring:active { background: url('hpimgs28.png') no-repeat scroll 0px 0px transparent; }
.zagat-score { background-color: rgb(137, 0, 26); color: white; display: inline-block; font-weight: bold; margin: 2px 0px; padding: 2px 0px 0px; width: 21px; height: 17px; border-radius: 2px 2px 2px 2px; text-align: center; }
.zagat-hover { border: 1px solid black; padding: 5px; background-color: white; position: absolute; margin-left: 20px; }
.zagat-hover-score { color: rgb(107, 13, 33); font-weight: bold; }
.zagat-hover-explanation { color: black; }
.pp-headline-address { display: inline; margin-bottom: 1px; }
.pp-headline-authority-page { display: block; }
#resultspanel .pp-headline-authority-page { display: inline; }
#resultspanel .pp-headline-authority-page a:link, #resultspanel .pp-headline-authority-page a:visited { color: rgb(17, 85, 204); text-decoration: none; }
#resultspanel .pp-headline-authority-page a:hover { text-decoration: underline; }
.pp-headline-phone { display: block; }
#resultspanel .pp-headline-phone { display: inline; }
.pp-headline-phone-label { color: rgb(128, 128, 128); }
.pp-coverphoto img { vertical-align: bottom; }
.pp-cover-source { text-align: left; padding-left: 8px; padding-top: 2px; padding-bottom: 2px; }
.photo-border { line-height: 0; }
#panel .pp-linked-photo { background: none no-repeat scroll center center rgb(255, 255, 255); border: 1px solid blue; cursor: pointer; margin-right: 5px; margin-top: 2px; overflow: hidden; float: left; }
#photo-stack .pp-linked-photo { cursor: pointer; margin-left: 2px; margin-top: 2px; width: 58px; }
#photo-stack .pp-linked-photo, .photo-stack-background { margin-right: 5px; border: medium none; top: 0px; left: 0px; }
#photo-stack, .photo-stack-background { width: 62px; height: 44px; }
#photo-stack .photo-border { position: absolute; top: 0px; height: 42px; overflow: hidden; }
#photo-stack { margin-top: 6px; margin-bottom: -1px; position: relative; float: right; }
.no-wrap { white-space: nowrap; }
.offscreen { position: absolute; left: 0px; top: -1000em; width: 1px; height: 1px; overflow: hidden; border: 0px none; }
.b { font-weight: bold; }
.kd-input-text { background-color: rgb(255, 255, 255); padding-left: 8px; border-right: 1px solid rgb(217, 217, 217); border-width: 1px; border-style: solid; border-color: rgb(192, 192, 192) rgb(217, 217, 217) rgb(217, 217, 217); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 1px 1px 1px 1px; }
.kd-input-text:hover { border-right: 1px solid rgb(185, 185, 185); border-width: 1px; border-style: solid; border-color: rgb(160, 160, 160) rgb(185, 185, 185) rgb(185, 185, 185); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
.kd-input-text:focus { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; outline: medium none; border: 1px solid rgb(77, 144, 254); }
.kd-button { display: inline-block; min-width: 54px; border: 1px solid rgba(0, 0, 0, 0.1); text-align: center; color: rgb(68, 68, 68); font-size: 85%; font-weight: bold; height: 27px; padding: 0px 8px; line-height: 27px; border-radius: 2px 2px 2px 2px; transition: all 0.218s ease 0s ; background-color: rgb(245, 245, 245); background-image: -moz-linear-gradient(center top , rgb(245, 245, 245), rgb(241, 241, 241)); }
.kd-button:hover { border: 1px solid rgb(198, 198, 198); color: rgb(51, 51, 51); transition: all 0s ease 0s ; background-color: rgb(248, 248, 248); background-image: -moz-linear-gradient(center top , rgb(248, 248, 248), rgb(241, 241, 241)); box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); text-decoration: none; }
.kd-button:visited { color: rgb(102, 102, 102); }
.kd-button:active { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
.kd-button:active:hover { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
.kd-button:active:focus { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; }
.kd-button:disabled { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(184, 184, 184); border: 1px solid rgba(0, 0, 0, 0.05); cursor: default; pointer-events: none; }
.kd-button-submit { border: 1px solid rgb(48, 121, 237); color: rgb(255, 255, 255); background-color: rgb(77, 144, 254); background-image: -moz-linear-gradient(center top , rgb(77, 144, 254), rgb(71, 135, 237)); }
.kd-button-submit:hover { border: 1px solid rgb(47, 91, 183); color: rgb(255, 255, 255); background-color: rgb(53, 122, 232); background-image: -moz-linear-gradient(center top , rgb(77, 144, 254), rgb(53, 122, 232)); }
.kd-buttonbar { overflow: hidden; }
.kd-buttonbar .kd-button { float: left; margin: 0px 0px 0px 16px; position: relative; z-index: 1; }
.kd-buttonbar .kd-button:hover { z-index: 2; }
.kd-buttonbar .kd-button:first-child { margin-left: 0px; }
.close { opacity: 0.7; overflow: hidden; }
.close:hover { opacity: 1; }
body { color: rgb(0, 0, 0); font-family: arial,sans-serif; font-size: 13px; }
input { color: rgb(0, 0, 0); font-family: arial,sans-serif; font-size: 13px; }
a { color: rgb(17, 85, 204); text-decoration: none; }
a:hover { color: rgb(17, 85, 204); text-decoration: underline; }
a:visited { color: rgb(102, 17, 204); }
a:active { color: rgb(209, 72, 54); }
.secondary a { color: rgb(17, 85, 204); text-decoration: none; }
.secondary a:hover { color: rgb(17, 85, 204); text-decoration: underline; }
.kd-input-text-wrp:hover input { border-right: 1px solid rgb(185, 185, 185); border-width: 1px; border-style: solid; border-color: rgb(160, 160, 160) rgb(185, 185, 185) rgb(185, 185, 185); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset; }
.kd-input-text-wrp input:focus { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset; outline: medium none; border: 1px solid rgb(77, 144, 254); }
.kd-button img { display: inline-block; margin: -3px 0px 0px; opacity: 0.55; vertical-align: middle; }
.kd-button:disabled img { opacity: 0.5; }
.kd-button:hover img { opacity: 0.72 ! important; }
.kd-button:active img { opacity: 1 ! important; }
.subpanel { padding-top: 18px; }
.messagehtml { background: none repeat scroll 0% 0% rgb(249, 237, 190); border: 1px solid rgb(240, 195, 109); border-radius: 2px 2px 2px 2px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); position: absolute; top: 55px; left: 50%; margin-left: -190px; font-size: 85%; line-height: 29px; }
.message-cont { padding-left: 16px; padding-right: 16px; }
.messagehtml a { color: rgb(51, 51, 51); text-decoration: underline; }
#infoarea { position: relative; z-index: 1010; }
#infoarea .messagehtml { top: -15px; }
#homestate { display: none; }
@media screen, projection {
  .print-message { display: none; }
  .gmnoscreen { display: none; }
  #printspacer { display: none; }
  #page { position: relative; width: 100%; }
  #panel { position: absolute; top: 59px; left: 0px; z-index: 3; background-color: rgb(255, 255, 255); }
  .small #panel { top: 45px; }
  #panel:focus {  }
  #panel .clear { padding-bottom: 0.5em; padding-top: 3px; }
  #wpanel { position: relative; width: 100%; background: none repeat scroll 0% 0% rgb(255, 255, 255); z-index: 3; }
  #map { border: 1px solid rgba(102, 102, 102, 0.25); position: relative; z-index: 1; background: none repeat scroll 0% 0% rgb(229, 227, 223); overflow: hidden; }
}
@media screen, projection {
  .noscreen { display: none; }
  .no-maps-mini { overflow: hidden; }
  .no-maps-mini body { overflow: hidden; }
  #map { left: 29.32em; margin-right: 29.32em; margin-left: 0px; }
  #mclip { left: 29.32em; margin-right: 29.32em; margin-left: 0px; }
  #ssheader { left: 29.32em; margin-right: 29.32em; margin-left: 0px; }
}
@media screen {
  .debug-mode #map { left: 60em; margin-right: 60em; }
}
@media print {
  .gmnoprint { display: none; }
  .bar { display: none; }
  .launcher { display: none; }
  .ds { display: none; }
  .links { display: none; }
  .printimage { border: 1px solid silver; }
  .print-message { display: block; position: absolute; z-index: 100000; top: 0px; right: 0px; width: 7cm; padding: 1.5mm 2mm; color: rgb(0, 0, 0); background: none repeat scroll 0% 0% silver; border: 1px solid rgb(0, 0, 0); text-align: center; }
  .mapfooter { background-image: none; }
  #topbar-startcol { display: none; }
  #topbar-endcol { display: none; }
  #pl_ctls { display: none; }
  #logo { display: none; }
  #main_map { clear: both; }
  #pnc.untouched table { display: none; }
  #pnc.untouched #gmm_msg { display: block; }
  #panel { height: auto ! important; }
  #spsizer { height: auto ! important; }
}
@media print {
  .noprint { display: none; }
  .deb { display: none; }
  .pw { display: block; }
  .pw .res .id { padding-top: 0.15em; }
  .pw .res .text { padding-top: 0px; }
  .pw .res .name { padding-top: 0px; }
  .onelineo { height: auto; }
  .onelinei { height: auto; line-height: normal; top: auto; position: relative; }
  .ieoneline { white-space: normal; }
  .leaf-links { text-align: right; }
  html { overflow: auto; }
  body { overflow: visible; margin: 3px 8px 0px 44px; }
  .leaf-links a { text-decoration: none; }
  .leaf-links a span { text-decoration: underline; }
  .leaf-links a img { vertical-align: bottom; }
  #search { display: none; }
  #guser { display: none; }
  .hMainM #main_map { position: absolute; visibility: hidden; }
  #main_map { margin-bottom: 0.5em; }
  #header .links { padding: 2px 0px; }
  #page { height: auto; }
  #map { position: relative; margin-left: 0px; margin-right: 0px; left: 0px; border: 1px solid rgb(151, 151, 151); }
  #map_printimage { margin-left: 0px; margin-right: 0px; left: 0px; border: 1px solid rgb(151, 151, 151); }
  #plt .plc { vertical-align: top; width: 100%; }
  #plt { position: relative; }
  #pl_ctls { padding-top: 0px; text-align: right; height: 1em; }
  #panel { position: relative; float: none; width: 100%; }
  #spsizer { overflow: visible; }
  #ph { overflow: hidden; display: block; position: relative; top: 0px; left: 0px; width: 702px; margin-top: 16px; margin-bottom: 21px; }
  #ph .name { text-align: right; }
  #ph .notes { width: 100%; }
  #phn { float: right; }
  #ph .rmvalue { font-weight: normal; }
  #printheader { float: left; width: 276px; }
  #resultspanel .query { display: none; }
  #panel .selected { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
  #ph td { padding-left: 0.2em; padding-right: 0.2em; vertical-align: top; }
  #ph td.value { padding-bottom: 0.2em; font-weight: bold; }
  #ph td.phh { width: 300px; }
  #ph td.phn { padding: 0px; width: 100%; }
  #pnc table { width: 100%; }
  #pnc td.name { margin-right: 1em; white-space: nowrap; }
  #pnc div { width: 100%; }
  #pnc textarea { width: 260px; height: 48px; }
  #pnc.untouched textarea { color: silver; }
  #tsp table.directions tr.leg_primary td.leg_text { border-top: 3px solid rgb(128, 128, 128); border-bottom: 1px solid silver; }
  #tsp table.directions tr.leg_secondary td.leg_text { border-top: 1px dashed silver; margin-top: 2px; }
  #pnc #gmm_msg { display: none; }
  #print-button #print { position: absolute; left: 735px; top: 20px; }
  .msie #print-button #print { position: absolute; left: 735px; top: 37px; }
}
.embeddedoutput { display: none; }
body { margin: 0px; }
#map { left: 0px; margin: 0px; border: 0px none; }
#mapCenter { position: absolute; overflow: visible; width: 0px; height: 0px; }
#inlineTiles { white-space: nowrap; position: absolute; line-height: 0; }
#inlineTiles > img { width: 256px; height: 256px; }
div { margin: 0px; padding: 0px; }
div.smcpanup { cursor: pointer; height: 18px; position: absolute; top: 0px; left: 9px; width: 18px; }
div.smcpandown { cursor: pointer; height: 18px; position: absolute; top: 36px; left: 9px; width: 18px; }
div.smcpanlft { cursor: pointer; height: 18px; position: absolute; top: 18px; left: 0px; width: 18px; }
div.smcpanrt { cursor: pointer; height: 18px; position: absolute; top: 18px; left: 18px; width: 18px; }
div.smczoomin { cursor: pointer; height: 18px; position: absolute; top: 57px; left: 9px; width: 18px; }
div.smczoomout { cursor: pointer; height: 18px; position: absolute; top: 75px; left: 9px; width: 18px; }
#smcsprite { display: none; }
#smc_inline { height: 94px; left: 7px; position: absolute; top: 7px; width: 37px; }
#logocontrol_inline { position: absolute; left: 2px; bottom: 2px; }
#logosprite { display: none; }
#logolink_inline > img { margin: 0px; padding: 0px; width: 62px; height: 30px; cursor: pointer; border: 0px none; }
.inlinectrl_outer { color: black; border: 1px solid black; position: absolute; background-color: rgb(255, 255, 255); cursor: pointer; }
.inlinectrl_inner { text-align: center; border-style: solid; border-color: rgb(255, 255, 255) rgb(176, 176, 176) rgb(176, 176, 176) rgb(255, 255, 255); border-width: 1px; font-size: 12px; }
.inlinectrl_inner.inlinectrl_selected { border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(52, 86, 132) rgb(108, 157, 223) rgb(108, 157, 223) rgb(52, 86, 132); font-weight: bold; }
#hmtctl_inline { position: absolute; top: 7px; right: 7px; }
form { margin: 0px; padding: 0px; }
img { margin: 0px; padding: 0px; border: 0px none; -moz-user-select: none; }
a { outline: medium none; }
.launcher { border-bottom: 1px solid rgb(235, 235, 235); padding: 18px 15px 9px 0px; position: relative; }
.d_close-wrapper { position: relative; height: 0px; line-height: 0; }
.dir-tm { direction: ltr; margin: 0px 29px 0px 44px; }
.dir-tm .kd-button { padding: 0px; min-width: 50px; width: 50px; }
.dir-tm .kd-button:focus { outline: medium none; border-color: rgb(77, 144, 254); transition: all 0s ease 0s ; z-index: 2; }
.d_links { font-size: 85%; }
.dir-sub-cntn { position: relative; height: 29px; }
.dir-clear { clear: both; height: 0px; line-height: 0; font-size: 1px; }
.dir-wp { position: relative; }
.dir-wp .dir-wp-hl { margin-left: 8px; margin-right: 26px; padding: 3px 0px; }
.dir-wp .dir-m { position: absolute; width: 24px; height: 24px; left: 15px; top: 5px; }
.dir-wp-x { line-height: 7px; font-size: 0px; }
.dir-input { margin: 0px 3px 0px 36px; padding: 1px 6px; }
.dir-input .wp { height: 16px; line-height: 16px; margin: -1px -6px; padding: 3px 5px; width: 100%; }
.dir-rev-wrapper { position: relative; height: 0px; line-height: 0; }
.dir-c { cursor: pointer; position: absolute; right: 7px; top: 3px; padding: 8px; }
.dir-dym { font-size: 13px; margin: 0px 30px 10px 46px; }
.dir-dyml { color: rgb(212, 73, 55); }
.dir-dymq { color: rgb(48, 107, 210); cursor: pointer; }
.dir-tm .kd-button img { margin: 0px; vertical-align: -4px; opacity: 0.667; }
#d_launcher { z-index: 1; }
#d_close { width: 20px; height: 20px; position: absolute; right: -5px; top: -5px; }
#d_close .close { margin: 5px; opacity: 0.7; }
#d_close:hover .close { opacity: 1; }
#dir_controls { margin: 0px 29px 0px 44px; }
#d_options { margin: 6px 0px 9px; }
#d_optph { padding: 3px 5px; background: none repeat scroll 0% 0% rgb(245, 245, 245); }
#d_tr_warning { margin: 5px 0px; color: rgb(119, 119, 119); }
#d_sub { position: absolute; right: 0px; margin: 2px 0px 0px; text-transform: uppercase; height: 29px; line-height: 16px; }
#dir_wps { margin-top: 15px; position: relative; }
#dir_rev { position: absolute; cursor: pointer; padding: 5px; right: -5px; top: -20px; z-index: 1; }
#dir_rev .kd-button { width: 18px; min-width: 18px; height: 28px; padding: 0px; }
